<div ng-init="getFirstMember()">
    <div class="alert alert-info">添加第一个会员(*为必填项)</div>
    <div ng-if="!firstMember">
        <form role="form" ng-submit='registerFirstMember(user)' name="form">
            <fieldset>
                <div class="form-group has-success has-feedback">
                    <label>昵称</label>
                    <input type="text" name="name" ng-model="user.name" class="form-control">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>手机*</label>
                    <input type="text" ng-required="true" phone_unique name="phone" ng-model="user.phone"
                           phone_number_valid class="form-control" placeholder="手机号">
                    <div class="has-error" ng-if="form.phone.$dirty&&form.phone.$error.required">请填写联系电话</div>
                    <div class="has-error" ng-if="form.phone.$error.validPhoneNumber"> 请输入一个有效的手机号码</div>
                    <div class="has-error" ng-if="form.phone.$error.phoneUnique"> 该手机号码已被使用</div>
                </div>
                <div class="form-group">
                    <label>密码*</label>
                    <input type="password" ng-model="user.password" ng-required="true" name="password"
                           class="form-control"
                           placeholder="输入密码">
                </div>
                <div class="form-group">
                    <label>确认密码*</label>
                    <input type="password" ng-model="user.rePassword" ng-required="true" pw_check="{{user.password}}"
                           name="rePassword" class="form-control" placeholder="确认密码">
                    <div class="has-error" ng-if="form.rePassword.$error.pwmatch">两次密码不匹配</div>
                </div>
            </fieldset>
            {{message.message}}
            <button class="btn btn-primary btn-block margin-top-20" type="submit" ng-disabled="form.$invalid">
                添 加
            </button>
        </form>
    </div>
    <div ng-if="firstMember">
        <div class="alert alert-warning">
            系统已经存在第一个会员，无需再添加
            <div class="margin-top-10">
                <div>
                    用户名：{{firstMember.name}}
                </div>
                <div>
                    手机：{{firstMember.phone}}
                </div>
                <div ng-if="!firstMember.directSaleMember">
                    该会员为临时会员(未购买产品)，您可以做如下操作：
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm fa fa-level-up" data-ng-click="upgradeUser(firstMember)">
                            提升为正式会员
                        </button>
                        <button class="btn btn-danger btn-sm fa fa-trash" data-ng-click="deleteUser(firstMember)">
                            删除该会员信息
                        </button>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>
