<div ui-content-for="title" ng-init="getNotices()">
  <span>我的消息</span>
</div>

<div class="scrollable">

  <div class="scrollable-content section">

      <div class="alert alert-danger" ng-if="!message.success">{{message.message}}</div>
      <div class="alert alert-info" ng-if="message.success">向右滑动屏幕(或鼠标)隐藏消息! <a class="fa fa-refresh ">刷新消息</a></div>

    <div class="container-fluid">
      <div class="notices-container" ng-if="message.success">
        <div ng-if="!notices" class="alert alert-danger">
          暂无消息！
        </div>
        <div ng-if="notices" ng-repeat="notice in notices" drag-to-dismiss="deleteNotice(notice)" class="section section-break">
          <a ng-class="{'fa':true,'fa-folder':!notice.read,'fa-folder-open':notice.read}"
             ng-click="readNotice(notice)">
            {{notice.title}}
              <span ng-if="notice.read">（已读）</span>
              <span ng-if="!notice.read">（未读）</span>

          </a>

          {{ notice.date | date: 'yyyy-MM-dd' }}
          <div ng-if="notice.showMessage">{{notice.content}}</div>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>
