<div ui-content-for="title" ng-init="message=null;synchronizeData(true);getFirstMember()">
  <span>会员注册</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
  <span ng-if="!isEmptyObject(session.loginUser)&&session.loginUser.directSaleMember">
      您已经是系统会员！
  <a ng-click="logout()" class="btn btn-primary btn-block"> 退出注册新号<i class="fa fa-sign-out"></i></a></span>
  <div ng-if="!isEmptyObject(session.loginUser)&&!session.loginUser.directSaleMember">
      <div class="alert alert-info">您是临时会员，购买黑茶即可成为正式会员！</div>
      <a class="btn btn-primary btn-block" ng-href="/vip#/buy">去购买</a>
  </div>
  <form role="form" ng-submit='register()' name="form" ng-if="isEmptyObject(session.loginUser)&&firstMember">
    <fieldset>
        <div class="form-group has-success has-feedback">
          <label>手机</label>
          <input type="text" ng-required="true" phone_unique name="phone" ng-model="user.phone" phone_number_valid class="form-control" placeholder="手机号">
            <div class="has-error" ng-if="form.phone.$dirty&&form.phone.$error.required">请填写联系电话</div>
            <div class="has-error" ng-if="form.phone.$error.validPhoneNumber"> 请输入一个有效的手机号码</div>
            <div class="has-error" ng-if="form.phone.$error.phoneUnique"> 该手机号码已被使用</div>
        </div>
        <!--<div class="form-group has-success has-feedback">-->
            <!--<label>昵称</label>-->
            <!--<input type="text" ng-required="true"-->
                   <!--ng-model="user.name"-->
                   <!--class="form-control"-->
                   <!--placeholder="您在系统中显示的名称">-->
        <!--</div>-->
        <div class="form-group has-success has-feedback">
            <label>市场</label>
            <select ng-required="true" ng-model="user.market" name="market" class="form-control">

                <option value="1">一市场</option>
                <option value="2">二市场</option>
            </select>
        </div>
        <div class="form-group">
          <label>密码</label>
          <input type="password" ng-model="user.password" ng-required="true" name="password" class="form-control"
                 placeholder="输入密码">
        </div>
        <div class="form-group">
            <label>确认密码</label>
            <input type="password" ng-model="user.rePassword" ng-required="true" pw_check="{{user.password}}" name="rePassword" class="form-control" placeholder="确认密码">
            <div class="has-error" ng-if="form.rePassword.$error.pwmatch">两次密码不匹配</div>
        </div>
        <!--<div class="form-group">-->
            <!--<label>邀请码</label>-->
            <!--<input type="text" ng-model="user.registerInviteCode" ng-required="true" class="form-control" placeholder="该口令由推荐人提供">-->
        <!--</div>-->
        <div class="form-group">
            <label>接点人(手机号)</label>
            <input type="text" phone_number_valid valid_upper_phone ng-model="user.directUpperUser.phone" name="directUpperUserPhone" ng-required="true" class="form-control" placeholder="接点人手机号">
        </div>
        <div class="has-error" ng-if="form.directUpperUserPhone.$dirty&&form.directUpperUserPhone.$error.required">请填写接点人手机号</div>
        <div class="has-error" ng-if="form.directUpperUserPhone.$error.validPhoneNumber"> 请输入一个有效的手机号码</div>
        <div class="has-error" ng-if="form.directUpperUserPhone.$error.marketFull"> 该接点人市场已满</div>
        <div class="has-error" ng-if="form.directUpperUserPhone.$error.notExists"> 该接点人不存在</div>
        <div class="has-error" ng-if="form.directUpperUserPhone.$error.notMember"> 该接点人不是正式会员</div>

        <div class="form-group">
            <label>邮箱(非必填，可注册后补充)</label>
            <input type="email" ng-model="user.email" name="email" ng-required="false" class="form-control" placeholder="邮箱">
        </div>
        <div class="has-error" ng-if="form.directUpperUserPhone.$dirty&&form.directUpperUserPhone.$error.required">请填写接点人手机号</div>
        <div class="has-error" ng-if="form.email.$invalid"> 请输入一个有效的邮箱</div>

    </fieldset>
    {{message.message}}
    <button class="btn btn-primary btn-block margin-top-20" ng-disabled="form.$invalid" >
      注册
    </button>
      <a class="btn btn-primary btn-block margin-top-20" ng-href="/#buy" >
          先不注册，浏览商品
      </a>

    <!--<div ui-content-for="navbarAction">-->
      <!--<a class='btn' ng-click='register()'>Login</a>-->
    <!--</div>-->

  </form>
  <form role="form" ng-submit='registerFirstMember(user)' name="form" ng-if="isEmptyObject(session.loginUser)&&!firstMember">
      <div class="alert alert-info">您将注册成为系统第一名会员</div>
      <fieldset>
             <div class="form-group has-success has-feedback">
                 <label>昵称</label>
                 <input type="text" name="name" ng-model="user.name" class="form-control">
             </div>
             <div class="form-group has-success has-feedback">
                 <label>手机*</label>
                 <input type="text" ng-required="true" phone_unique name="phone" ng-model="user.phone" phone_number_valid class="form-control" placeholder="手机号">
                 <div class="has-error" ng-if="form.phone.$dirty&&form.phone.$error.required">请填写联系电话</div>
                 <div class="has-error" ng-if="form.phone.$error.validPhoneNumber"> 请输入一个有效的手机号码</div>
                 <div class="has-error" ng-if="form.phone.$error.phoneUnique"> 该手机号码已被使用</div>
             </div>
             <div class="form-group">
                 <label>密码*</label>
                 <input type="password" ng-model="user.password" ng-required="true" name="password" class="form-control"
                        placeholder="输入密码">
             </div>
             <div class="form-group">
                 <label>确认密码*</label>
                 <input type="password" ng-model="user.rePassword" ng-required="true" pw_check="{{user.password}}" name="rePassword" class="form-control" placeholder="确认密码">
                 <div class="has-error" ng-if="form.rePassword.$error.pwmatch">两次密码不匹配</div>
             </div>
         </fieldset>
         {{message.message}}
         <button class="btn btn-primary btn-block margin-top-20" ng-disabled="form.$invalid" >
             注册
         </button>

         <!--<div ui-content-for="navbarAction">-->
         <!--<a class='btn' ng-click='register()'>Login</a>-->
         <!--</div>-->

     </form>
 </div>
</div>
